section#foto_cabecalho_cardapio {
  background-image: url(/images/image_cardapio_back.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  line-height: 8px;
}

section#foto_cabecalho_cardapio h1 {
  font-family: 'Bebas neue', sans-serif;
  font-weight: 400px;
  color: #ffffff;
  font-size: 94px;
  margin-bottom: 40px;
}

#titulo_burgers {
  display: flex;
  justify-content: center;
  color: #226F54;
  font-family: 'Bebas neue', sans-serif;
  font-size: 4.5vw;
  font-weight: 400;
  align-items: center;
  margin-bottom: 0px;
  height: 100px;
  margin-left: 0px;
  width: 80%;
}

#titulo_burgers img {
  width: 10vw;
}

#imagem_burger {
  display: flex;
  justify-content: center;
}

#imagem_burger img {
  width: 90%;
  height: 90%;
}

@media only screen and (max-width: 771px) {
  #imagem_burger {
    display: flex;
    justify-content: center;
  }

  #imagem_burger img {
    width: 50%;
    height: 50%;
  }

  #titulo_burgers {
    display: flex;
    justify-content: center;
    color: #226F54;
    font-family: 'Bebas neue', sans-serif;
    font-size: 6.4vw;
    font-weight: 400;
    align-items: center;
    margin-bottom: 0px;
    height: 100px;
    margin-left: 0px;
    width: 80%;
  }
}

#burger_flex {
  background-image: url(/images/fundo-burger\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  justify-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;

}

#itens_burguers {
  display: flex;
  margin-top: 0px;
  flex-wrap: wrap;
}

#item_flex {
  display: flex;
  justify-content: center;
}

#burgers_coluna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
  align-content: center;
  padding: 0%;
  width: 50%;
}

@media only screen and (max-width: 761px) {
  #burgers_coluna {
    width: 90%;
  }


}

#coluna_esquerda_burguers {
  width: 50%;
}

#coluna_direita_burguers {
  width: 50%;
}

#acompanhamentos_section #burger_flex {
  flex-direction: row-reverse;
}

#bebidas_section #burger_flex {
  margin-bottom: 0px;
}

.item h2 {
  font-family: 'Abril fatface', cursive;
  font-weight: 400;
  font-size: 2vmax;
  color: 333333;
  margin-bottom: 0;
}

.item p {
  font-size: 2.4vh;
  text-align: center;
  margin-top: 10px;
}

.item h3 {
  color: #0170B9;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2vw;
  font-weight: 400;
  margin-top: 0;
  margin-left: 50px;
}

@media only screen and (max-width: 880px) {
  #burger_flex {
    justify-content: space-between;
  }

  .item h2 {
    font-size: 5vw;
  }

  .item p {
    font-size: 2vh;
    text-align: center;
    margin-top: 10px;
  }

  .item h3 {
    color: #0170B9;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3vw;
    font-weight: 400;
    margin-top: 0;
    margin-left: 50px;
  }
}