@import url(/style/fonts.css);

section#foto_cabecalho_home {
  background-image: url(/images/home_back.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  line-height: 8px;
}

#foto_cabecalho_home h1 {
  display: flex;
  justify-content: center;
  flex-wrap: no-wrap;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 70px;
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 10vh;
  margin-top: 20%;
}

#foto_cabecalho_home img {
  padding: 10px;
  margin-bottom: 20px;
}

h2#sub_titulo {
  color: #D09D47;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 100%;
  margin: 0px;
}

h2#descricao {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 33px;
  line-height: 100%;
}

#bem_vindos {
  background-image: url(/images/fundo-burger\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-attachment: fixed;
  width: 100vw;
  justify-content: center;
  justify-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

}

#bem_vindos #coluna_esquerda {
  margin-right: 130px;
  width: 20%;
}

#bem_vindos #coluna_esquerda h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 68px;
  color: #226F54;
  margin-bottom: 0px;
}

#bem_vindos #coluna_esquerda p {
  font-family: 'Ubuntu', sans-serif;
  color: #000000;
  font-size: 22px;
}

#bem_vindos #coluna_esquerda button {
  background-color: transparent;
  border-width: 1px;
  border-color: #226F54;
  border-radius: 7px;
  font-size: 22px;
  color: #0170B9;
  padding: 10px;
  border-style: solid;
}

#bem_vindos #coluna_esquerda button:hover {
  background-color: transparent;
  border-width: 1px;
  border-color: #0170B9;
  border-radius: 7px;
  font-size: 22px;
  color: #000000;
  padding: 10px;
  transition: 0.3s;
}

#bem_vindos #coluna_esquerda button span {
  display: flex;
  align-items: center;
}

#bem_vindos #coluna_direita {
  background-image: url(/images/bemvindo_direita_back.png);
  background-repeat: no-repeat;
  width: 381px;
  text-align: center;
  height: 509px;
}

#bem_vindos #coluna_direita h1 {
  color: #226F54;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 81px;
  font-weight: 400;
  line-height: 0px;
  margin-top: 400px;
  margin-bottom: 30px;
}

#bem_vindos #coluna_direita h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
}

#nosso_cardapio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cabecalho_cardapio {
  text-align: center;
  margin-bottom: 100px;
  align-items: center;
}

#cabecalho_cardapio h1 {
  font-family: 'Bebas Neue', sans-serif;
  color: #226F54;
  font-weight: 400;
  font-size: 65px;
  margin-top: 20px;
  line-height: 0px;
}

#cabecalho_cardapio h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

#nosso_cardapio_itens {}

.itens {}

#nosso_cardapio #botao_cardapio button {
  background-color: #0170B9;
  border: 0px;
  border-radius: 68px;
  font-size: 24px;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  margin: 30px;
}


#sede_de_refri {
  background-image: url(/images/fundo-burger\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-attachment: fixed;
  width: 100vw;
  justify-content: center;
  justify-items: center;
}

#sede_de_refri #coluna_esquerda img {
  width: 90%;
  margin-top: 50px;
}

#sede_de_refri #coluna_direita {
  text-align: center;
  margin-left: 60px;
  margin-bottom: 120px;
}

#sede_de_refri #coluna_direita h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  color: #333333;
  font-size: 24px;
}

#sede_de_refri #coluna_direita h1 {
  font-family: 'Bebas Neue', sans-serif;
  color: #226F54;
  font-weight: 400;
  font-size: 72px;
  line-height: 0px;
}

#sede_de_refri #coluna_direita h2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
}

#sede_de_refri #coluna_direita button {
  background-color: #0170B9;
  color: #ffffff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 29px;
  border: none;
  border-radius: 14px;
  padding: 20px 10px 20px 10px;
  margin-top: 30px;
}

#sede_de_refri #coluna_direita button:hover {
  background-color: #226F54;
  color: #ffffff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 29px;
  border: none;
  border-radius: 14px;
  padding: 20px 10px 20px 10px;
  margin-top: 30px;
  transition: 0.2s;
}

#depoimentos {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

#depoimentos img {
  margin-top: 60px;
  margin-bottom: opx;
}

#depoimentos_conteudo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  align-content: center;
  justify-items: center;
  text-align: center;
}

.depoimentos_individual {
  width: 34%;
}


.depoimentos_individual p {
  font-size: 18px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 300;
  color: #333333;
}

.depoimentos_individual h2 {
  font-size: 24px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  color: #333333;
}

.depoimentos_individual h3 {
  font-size: 15px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 300;
  color: #888888;
}